@import '../../styles/font.scss';

.ChatBox{
    height: 455px;
    width: 328px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px #888888;
    border: 1px solid #888888;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    .HeaderBoxChat{
        height: 50px;
        background-color: aliceblue;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        gap: 10px;
        cursor: move;
        display: flex;
        align-items: center;
        padding: 8px;
        box-sizing: border-box;
        @include title-small;
        border-bottom: 1px solid #888888;
        .avatar{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: white;
            @include title-large;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #888888;
        }
        .user{
            display: flex;
            flex-direction: column;
            .status{
                @include body-small;
                display: flex;
                align-items: center;
                gap: 5px;
                .status-point{
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    display: block;
                }
            }
        }
    }
    .message-box{
        flex: 1;
    }
    .input-footer{
        width: 100%;
        background: #5081C7;
        padding: 8px 4px;
        box-sizing: border-box;
        display: flex;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .input{
            width: 100%;
            display: flex;
            gap: 8px;
            .input-chat{
                flex: 1;
                height: 23px;
                border: none;
                outline: none;
                border-radius: 3px;
                padding: 0 8px;
            }

            .send-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 22px;
                width: 24px;
                cursor: pointer;
                border-radius: 3px;
                border: none;
                transition: all 0.3s;
                img{
                    height: 20px;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
            .icon{
                height: 22px;
                width: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background-color: #e2e2e2;
            }
        }
    }
}